<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>ETH Big Data Project</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
    var clusters = {{cluster|safe}};
    var cluster_num = {{cluster_num|safe}};
    </script>
    <script>

function initialize() {

    // use jquery to call get_clusters
    $.ajax( {
                url: '/get_clusters',
                dataType: 'json',
            } )
    .done( function(resp) {
            var mapOptions = {
            zoom: 10,
            center: new google.maps.LatLng(47.222014, 8.423129)
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                                        mapOptions);
            setMarkers(map, resp.clusters);


            });

}

function setMarkers(map, locations) {
  for (var i = 0; i < locations.length; i++) {
      for(var j = 0;j < locations[i].length; j++) {
          var beach = locations[i][j];
          var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
          var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: beach[0],
                zIndex: beach[3],
                icon: "/static/images/sun_sea_small.png"
                });
      }
  }
}

$().ready( initialize );

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
